<h1>About MoneyCalc</h1>
<p>MoneyCalc is a simple web application for personal financial advising and management.</p>

MoneyCalc's basic functionalities:
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<p>Users count: <%= @users_count %></p>