<h1>About MoneyCalc</h1>
<h3>MoneyCalc is a simple web application for personal financial management.</h3>

<h4>MoneyCalc's basic functionalities:</h4>
<ul>
	<li>Entering data about expenses and incomes</li>
	<li>Editing expenses/incomes records</li>
	<li>Adjustment of balances</li>
	<li>Accounts support</li>
</ul>

<% if current_user %>
	<h1>Listing users</h1>
	<%= render 'layouts/users_list' %>
<% else%>
	<p>Users count: <%= @users.count %></p>
<% end%>
