<% if @user.transactions.any?%>
  <h1>Listing transactions</h1>
  <%= render 'list' %>
  <h3>Balance: <%= @user.balance %></h3>
<% else %>
  <h1>Transactions not found...</h1>
<% end %>
<% if @user.id == current_user.id %>
  <%= link_to 'Create new transaction', new_user_transaction_path(user_id: @user.id)%>
<% end %>